<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>



<body>

  <!-- HEADER -->
  <th:block th:replace="~{moduli/header :: header}"></th:block>



  <div class="vetrina-bg">

    <div style="position: fixed; right: 40px; height: 100px; margin-top: 25px;" th:if='${ruolo.equals("admin")}'>
      <a href="/autoreForm">
        <button class="ghost-round">Nuovo Autore</button>
      </a>
    </div>


    <div class="content" style="position: fixed; margin-top: 60px;">
      <div class="cards-container">
        <a th:each="autore : ${autori}" th:href="@{'/autore/' + ${autore.id}}" style="text-decoration: none;">
          <div class="card">
            <!-- <div class="card-image" th:text="${autore.immagine}"></div> -->
            <div class="card-body">
              <h3 class="card-title" th:text="${autore.nome} + ' ' + ${autore.cognome}">Nome Libro</h3>
              <div th:if='${ruolo.equals("admin")}'>
                <a th:href="@{'/eliminazioneAutore/' + ${autore.id}}" style="color: red;">Elimina</a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>