<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dettagli autore</title>
    <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>

<body>
    <!-- Header fisso -->
    <th:block th:replace="~{moduli/header :: header}"></th:block>

    <div style="z-index: 3; width: 100%;  position: fixed; height: 60px; margin-top: 40px; backdrop-filter: blur(2px); background-color: rgba(255, 255, 255, 0.001);" th:if='${ruolo.equals("admin")}'>
      <div style="z-index: 100; position: fixed; right: 40px; margin-top: 15px;">
        <a th:href="@{'/autoreForm/' + ${autore.id}}">
          <button class="ghost-round" style="background-color: rgba(255, 255, 255, 0.451);">Modifica Autore</button>
        </a>
      </div>
    </div>

    <!-- Contenuto principale -->
    <div class="book-detail-container">
    
    <div class="book-image">
      <img th:src="@{'/' + ${autore.immagine}}" alt="Copertina libro" />
    </div>

        <div class="book-info">
            <h1 class="book-title" th:text="${autore.nome + ' ' + autore.cognome}">Nome Cognome</h1>

            <p><strong>Data di nascita:</strong> <span th:text="${autore.dataNascita}">01/01/1900</span></p>
            <p th:if="${autore.dataMorte != null}"><strong>Data di morte:</strong> <span th:text="${autore.dataMorte != null ? autore.dataMorte : 'Ancora in vita'}">01/01/2000</span></p>
            <p><strong>Nazione:</strong> <span th:text="${autore.nazione}">Italia</span></p>

            <ul>
                <li th:each="libro : ${libri}">
                    <a th:href="@{'/libro/' + ${libro.id}}" th:text="${libro.titolo}">Titolo Libro</a>
                </li>
            </ul>

        </div>
    </div>
</body>

</html>