<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>



<body>

  <!-- HEADER -->
  <th:block th:replace="~{moduli/header :: header}"></th:block>

  <div class="vetrina-bg">
    <div class="content">
      <!-- <div class="welcome">Benvenuto nella Vetrina</div>
        <div class="subtitle">Scopri i nostri prodotti esclusivi</div> -->

      <div class="cards-container">
        <a th:each="libro : ${libri}" th:href="@{'/libro/' + ${libro.id}}" style="text-decoration: none;">
          <div class="card">
            <div class="card-image" th:text="${libro.immagine}"></div>
            <div class="card-body">
              <h3 class="card-title" th:text="${libro.titolo}">Nome Libro</h3>
              <p class="card-desc" th:text="${libro.descrizione}">Descrizione breve del prodotto 1.</p>
              <div>
                <a th:href="@{'area-riservata/eliminazioneLibro/' + ${libro.id}}"></a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>