<!DOCTYPE html>
<html lang="it">

<head>
  <title>Dettagli libro</title>
  <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>

<body>
  <!-- Header fisso -->
  <th:block th:replace="~{moduli/header :: header}"></th:block>

  <!-- Contenuto principale -->
  <div class="book-detail-container">
    <div class="book-top">
      <div class="book-image">
        <img th:src="@{'/' + ${libro.copertina}}" alt="Copertina libro" />
      </div>

      <div class="book-info">
        <h1 class="book-title" th:text="${libro.titolo}">Il titolo del libro</h1>
        <h2 class="book-author" th:each="autore : ${libro.autori}"><a th:href="@{'/autore/'+${autore.id}}" th:text="${autore.nome + ' ' + autore.cognome}">Mario Rossi</a></h2>
        <p class="book-description" th:text="${libro.descrizione}">
          Questo è un riassunto o una descrizione del libro. Può contenere informazioni sull'autore, la trama, il genere,
          e altri dettagli utili per l'utente.
        </p>
        <div><strong>Genere:</strong>
          <span th:text="${libro.genere}"></span>
        </div>
        <div>
          <strong>Anno:</strong>
          <span th:text="${libro.annoPubblicazione}">2000</span>
        </div>
        <div>
          <strong>ISBN:</strong>
          <span th:text="${libro.isbn}">123 312 111 21</span>
        </div>
      </div>
    </div>

    <div class="review-form">
      <h4>Lascia una recensione</h4>
      <form action="/aggiuntaRecensione" method="post" th:object="${recensione}">
        <div>
          <label>Titolo</label>
          <input type="text" th:field="${recensione.titolo}" required />
        </div>
        <div>
          <label>Voto</label>
          <input type="number" th:field="${recensione.voto}" min="1" max="5" required />
        </div>
        <div>
          <label>Recensione</label>
          <textarea th:field="${recensione.testo}" required></textarea>
        </div>
        <button type="submit" class="ghost-round">Invia</button>
      </form>
    </div>

    <div class="book-reviews">
      <strong>Recensioni:</strong>
      <div class="review" th:each="recensione : ${libro.recensioni}">
        <div class="review-header">
          <strong th:text="${recensione.titolo}">Titolo</strong>
          <span class="rating" th:text="'Voto: ' + ${recensione.voto} + '/5'">Voto: 5/5</span>
        </div>
        <p th:text="${recensione.testo}">Testo della recensione...</p>
      </div>
    </div>

  </div>
</body>

</html>