<!DOCTYPE html>
<html lang="it">

<head>
    <title>Registrazione</title>
    <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>

<body>
    <div class="bold-line"></div>
    <div class="container">
        <div class="window">
            <div class="overlay"></div>
            <div class="content-form">
                <div class="welcome">Benvenuto!</div>
                <div class="subtitle">Crea un nuovo account per iniziare a usare i nostri servizi.</div>
                <form th:action="@{/registrazione}" method="post" class="input-fields">
                    <input th:field="${utente.nome}" type="text" placeholder="Nome" class="input-line full-width">
                    <input th:field="${utente.cognome}" type="text" placeholder="Cognome" class="input-line full-width">
                    <input th:field="${utente.email}" type="email" placeholder="Email" class="input-line full-width">
                    <input th:field="${credenziali.username}" type="username" placeholder="Username" class="input-line full-width">
                    <input th:field="${credenziali.password}" type="password" placeholder="Password" class="input-line full-width">

                    <div style="margin-top: 20px"><button type="submit" class="ghost-round full-width">Registrati</button></div>
                </form>
                <div class='spacing'>Hai già un account? <a class='highlight' href="/login">Accedi</a></div>
            </div>
        </div>
    </div>
</body>

</html>